
.font-link {
  font-family: 'Andada Pro', serif;
}

#root {
  font-family: 'Andada Pro',
    serif;
  color: whitesmoke;
}

/* .container {
  background-color:
} */


/* USER PROFILE COMPONENT STYLING */



.saved-venue-artist-div {
  display: flex;
  width: 800px;
  /* background-color: aqua; */

}

.saved-div-container {
  margin: 50px;
  
}

.saved-div {
  overflow-y: scroll;
  height: 200px;
  width: 400px;
  border-radius: 8px;
  text-align: center;
  background-color: #FFCE38;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

.link-to-favorites {
  overflow: scroll;
  height: 400px;
  width: 800px;
  /* margin: 50px; */
  border-radius: 8px;
  background-color: #FFCE38;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

/* CITY SEARCH COMPONENT STYLING */

.search-by-location {
  display: flex;
  align-Items: center;
  justify-Content: center;
  height: 100vh;
  overflow: scroll;
  /* height: 400px; */
  width: 100px;
  background-color: #FFCE38;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px
}

.map-container {
  display: flex;

}

#map-image {
  width: 70%;
}

.venue-results {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 192px;
  overflow: auto;
  overflow-x: scroll;
}

#venue-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#venue-results {
  display: flex;
  width: 80%;
  height: 80%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
}

div.card {
  width: 500px;
  margin: 20px;
}

div.card-body {
  color:black;
  text-align: center;
}

#artist-results, #venue-header, #search-h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.searched-artists{
  margin: 50px;
}

.artist-info{
  border: 2px solid black;
  height: 400px;
  width: 400px;
  overflow: hidden;
}

.upcoming-concerts{
  margin: 50px;
}

nav.navbar.navbar-expand.navbar-dark.bg-dark{
  background-color: white;
}

main{
  background-image: url('https://live.staticflickr.com/4903/47382524831_0c9afa6fb6_b.jpg');


  background-size: 100%;
}

#shade{
  background-color: rgba(0,0,0,.6);
  background-size: 100%;
}

.aboutteam-card{
  background-color: blue;
}

div.container.card:hover{
	box-shadow: 5px 5px 5px rgba( 0, 0, 0, .2);
}

#searchbar{
  display: flex;
  width: 1500px;
}