
.font-link {
  font-family: 'Andada Pro', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

#root {
  font-family: 'Andada Pro',
    serif;
  color: whitesmoke;
}

/* USER PROFILE COMPONENT STYLING */

.saved-venue-artist-div {
  display: flex;
  width: 800px;
}

.saved-div-container {
  margin: 50px;
  
}

.saved-div {
  overflow-y: scroll;
  height: 200px;
  width: 400px;
  border-radius: 8px;
  text-align: center;
  background-color: #faf5f2;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

.link-to-favorites {
  overflow: scroll;
  height: 400px;
  width: 800px;
  /* margin: 50px; */
  border-radius: 8px;
  background-color: #faf5f2;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

/* CITY SEARCH COMPONENT STYLING */

.map-container {
  display: flex;
  border-radius: 8px;
}

#map-image {
  width: 70%;
  border-radius: 8px;
  border: solid 2px white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#venue-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#venue-results {
  display: flex;
  overflow-x: scroll;
  display: flex;
  scrollbar-width: none;
  max-height: 200px;
  width: 70%;
  background-color:  #f0f0f0;
  border:solid 2px white;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

#venue-results::-webkit-scrollbar{
  display: none;
}

div.card {
  background-color: #212529;
  min-width: 200px;
  min-height: 100px;
  margin: 8px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: white;
}

div.card:hover{
cursor: pointer;
background-color: #272b30;
color: white; 
 box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

div.col{
  display: flex;
  justify-content: center;
}

div.modal-title.h4{
  font-family: 'Andada Pro',
}

#artist-results, #venue-header, #search-h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Yeseva One', cursive;
}

.searched-artists{
  margin: 50px;
}

.artist-info{
  border: 2px solid black;
  height: 400px;
  width: 400px;
  overflow: hidden;
}

.upcoming-concerts{
  margin: 50px;
}

nav.navbar.navbar-expand.navbar-dark.bg-dark{
  background-color: white;
}

a.navbar-brand{
  font-family: 'Yeseva One', cursive;
  font-size: 50px;
}

main{
  background-image: url('https://live.staticflickr.com/5490/10394137396_0700469bd4_b.jpg');
  background-size: 200%;
  min-height: 1600px;
}

#shade{
  background-color: rgba(0,0,0,.6);
  background-size: 100%;
  min-height: 1600px;
}

div.container.card:hover{
	box-shadow: 5px 5px 5px rgba( 0, 0, 0, .2);
}

#searchbar{
  display: flex;
  width: 1500px;
}