
.font-link {
  font-family: 'Andada Pro', serif;
}

#root {
  font-family: 'Andada Pro',
    serif;
}

/* .container {
  background-color:
} */


/* USER PROFILE COMPONENT STYLING */



.saved-venue-artist-div {
  display: flex;
  width: 800px;
  /* background-color: aqua; */

}

.saved-div-container {
  margin: 50px;
  
}

.saved-div {
  overflow-y: scroll;
  height: 200px;
  width: 400px;
  border-radius: 8px;
  text-align: center;
  background-color: #FFCE38;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

.link-to-favorites {
  overflow: scroll;
  height: 400px;
  width: 800px;
  /* margin: 50px; */
  border-radius: 8px;
  background-color: #FFCE38;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

/* CITY SEARCH COMPONENT STYLING */

.search-by-location {
  overflow: scroll;
  height: 400px;
  width: 800px;
  background-color: #FFCE38;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px
}

.venue-results {
  display: flex;
  width: 100%;
  height: 192px;
  overflow: auto;
  overflow-x: scroll;
}

div.card {
  width: 500px;
}

.searched-artists{
  margin: 50px;
}

.artist-info{
  border: 2px solid black;
  height: 400px;
  width: 400px;
  overflow: hidden;
}

.upcoming-concerts{
  margin: 50px;
}

nav.navbar.navbar-expand.navbar-dark.bg-dark{
  background-color: white;
}

main{
  background-color: #F8F5F2;
}

.aboutteam-card{
  background-color: blue;
}

div.container.card:hover{
	box-shadow: 5px 5px 5px rgba( 0, 0, 0, .2);
}